header {
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  background-image: url(../img/W6/Cover.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.header-content-inner h1 {
  font-size: 65px;
}

.Body p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Body img {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 150px;
  border: 1px solid #8c8c8c;
}

.Body ul {
  margin-top: 100px;
  font-size: 15px;
}

.Body h3 {
  color: #eece1a;
}
